.post-container {
  min-height: min-content;
  height: 50vh;

  @media screen and (min-wdith: 600px) {
    height: 350px;
  }
}

.slanty-boi {
  transform: skew(-13deg) rotate(-5deg) translateY(-2rem);
  margin: auto;

  &__featured-wrapper {
    max-width: fit-content;
  }

  &__featured {
    margin: 0 0 0 1rem;
    color: #fff;
    background-color: rgb(52, 41, 105);
    padding: 0.3em;
    transform: translateY(5px);
  }

  &__title {
    color: #fff;
    background-color: #556cd6;
    padding: 0.3em;
    text-shadow: 3px 3px rgb(52, 41, 105);
  }
}

.button-container {
  padding-right: 3rem;
}
