.text-width-wrapper {
  width: 100%;
  max-width: 650px;
}

.heading-margin {
  margin-bottom: 1.8rem !important;
  margin-top: 0.4rem !important;
}

.text-margin {
  margin-bottom: 1.4rem !important;
}

.body-text {
  font-size: 1.1rem !important;
}

.code-wrapper {
  width: 100%;

  & > pre {
    margin-bottom: 1.4rem;
  }
}
