/*
This css is ONLY meant to be used to find broken styles on a page
To use, import it into _app.tsx as `import 'styles/findBrokenStyles.css'
It will basically turn the page black and draw a red outline around the exterior of div type elements.

If the culprit element isnt immediately obvious, the next step is to start from the top of the DOM tree and
apply `display: none;` to containing div/blocks. 
If the css issue is fixed after hiding an element, then you know it is the culprit and so you can restore the display
and move down one element in the DOM tree. Rinse and repeat until you find the culrpti.
*/

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
