.code-container {
  padding: 0.6rem;
  width: 100%;
  overflow: auto;
  border-radius: 5px;
}

.line {
  display: table-row;
}

.line-number {
  display: table-cell;
  text-align: right;
  padding-left: 0.5rem;
  padding-right: 1rem;
  user-select: none;
  opacity: 0.7;
}
